<div class="ui two column doubling stackable grid container">
  <div class="column" style="width: auto; margin-left: -150px">

    <div class="ui inverted blue vertical menu">
      {{#each tNormas}}
      <a class="blue item" href="/normatividad?id={{id_tipo_norma}}" style="border: 1px solid white !important">
        {{nombre_norma}}
      </a>
      {{/each}}
    </div>
  </div>
  <div class="column" style="width: auto; margin-left: 100px; margin-top: -480px">
    <table id="tablaNorma" class="ui blue celled table" style="text-align: justify; width: 100%">
      <thead>
        <tr style="text-align: center ;">
          <th>Nombre</th>
          <th>Numero Norma</th>
          <th>Fecha Publicación</th>
          <th>Temática</th>
          <th>Anexo</th>
        </tr>
      </thead>
      <tbody>
        {{#each tConsultaNormas}}
        <tr>
          <td>{{nombre_norma}}</td>
          <td>{{numero_norma}}</td>
          <td>{{fecha_publicacion}}</td>
          <td>{{tematica_norma}}</td>
          <td>
            <a class="blue item" href="{{url_descarga}}" download="{{nombreNorma}}">
              Descargar
            </a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<script>
  $(document).ready(function () {
    $('#tablaNorma').DataTable({
      "language": {
        "url": "/public/js/Spanish.json"
      },
      "lengthMenu": [[10, 15, 20, -1], [10, 15, 20, "Más"]],
      "ordering": false
    });
  });
</script>