
<div class="ui raised very padded text container segment">
    <form class="ui form" id="formArchFinan" action="/procesoPila/cargarArchivoFinanciero" method="POST" enctype="multipart/form-data">
        <h4 class="ui dividing header">Cargar Log financiero</h4>
        <div class="ui form">
            <div class="field">
                        <div class="ui checkbox">
                            <input name="corregirSecuenciaArchivo" type="checkbox">
                            <label>Corregir secuencia archivo</label>
                        </div>
                    </div>
            <div class="field">
                <input id="uploadedfile" name="uploadedfile" type="file" />
                <input name="filename" id="filename" type="text" hidden/>
                <div class="ui error message"></div>
            </div>
            <div class="field">
                <input type="submit" class="ui blue inline button" value="Subir archivo" />
                <button class="ui blue button" id="" type="reset">Cancelar</button>
            </div>
            {{#if sinInformacion}}
            <div class="ui blue small message">
                <i class="red warning sign icon"></i>{{sinInformacion}}
            </div>
            {{/if}} {{#if cargandoArchivo}}
            <div class="ui blue progress">
                <div class="bar">
                    <div class="progress"></div>
                </div>
                <div class="label">{{cargandoArchivo}}</div>
            </div>
            {{/if}} {{#if rutaDescarga}}
            <div class="ui green small message">
                <i class="green check icon"></i>{{confirmacionCorreccion}}
                <a class="blue large item" href="{{rutaDescarga}}" download="{{fileName}}">
                    Descargar
                </a>
                <a class="blue large item" href="{{rutaDescarga}}" download="{{fileName}}">
                    <i class="blue download icon"></i>
                </a>

            </div>
            {{/if}} {{#if sinRegistros}}
            <div class="ui blue small message">
                <i class="red warning sign icon"></i>{{sinRegistros}}
            </div>
            {{/if}}

        </div>
    </form>
</div>


<!--Resultado cargue archivo financiero-->
{{#if errorsNameFile}}
<br>
<div class="ui raised very padded text segment">
    <h4 class="ui dividing header">Errores en el nombre del archivo</h4>
    <table id="tablaNorma" class="ui celled table" style="text-align: justify; width: 100%">
        <thead>
            <tr style="text-align: center ;">
                <th>Descripción Error</th>
                <th>Valor Encontrado</th>
                <th>Valor Esperado</th>
            </tr>
        </thead>
        {{#each errorsNameFile}}
        <tbody>
            <tr style="text-align: center">
                <td>{{this.description}}</td>
                <td>{{this.valueFound}}</td>
                <td>{{this.valueExpected}}</td>
            </tr>
        </tbody>
        {{/each}}
    </table>

</div>
{{/if}}

<!--Resultado cargue archivo financiero-->
<!--
<div class="ui raised very padded text segment">
    <h4 class="ui dividing header">Resultado Proceso</h4>
    <table class="ui basic center table">
        <thead>
            <tr>
                <th>Banco</th>
                <th>Fecha Recaudo</th>
                <th>Cantidad de planillas</th>
                <th>Numero de empleados</th>
                <th>Valor Recaudado</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Banco Occidente</td>
                <td>2018-01-01</td>
                <td>150</td>
                <td>8000</td>
                <td>$230,860,553</td>
            </tr>
        </tbody>
    </table>
</div>

-->
<!--Resultado cargue archivo financiero-->
<script>
    $('.ui.dropdown').dropdown();
</script>
<script>  
    $('.ui.form')
        .form({
            fields: {
                uploadedfile: {
                    identifier: 'uploadedfile',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Debe seleccionar el archivo a cargar',
                        },
                        {
                            type: 'regExp',
                            value: /(.*\.txt)/i,
                            prompt: 'El archivo a cargar debe tener formato .txt',
                        }
                    ]
                }
            },
            inline: true,
            on: 'blur',
            onSuccess: function (event, fields) {
                filename.value = fields.uploadedfile;
            }

        });

</script>